{
    "configuration" : {
        "platformSettings" : {
            "adminOauthClient" : "{{ oauth_admin_ui_client_id }}",
            "adminOauthClientScopes" : "fr:idm:*",
            "amUrl" : "{{ gateway_url }}/am",
            "loginUrl" : ""
        }
    }
}
