{
  "metadata": {
    "realm": "{{ item.realm }}",
    "entityType": "BaseUrlSource",
    "entityId": "baseurl",
    "pathParams": {},
    "amsterVersion": "{{ amster_version }}"
  },
  "data": {
    "source": "FIXED_VALUE",
    "fixedValue": "{{ gateway_url }}",
    "contextPath": ""
  }
}
