{
  "metadata": {
    "entityType": "Platform",
    "entityId": "platform",
    "pathParams": {},
    "amsterVersion": "{{ amster_version }}"
  },
  "data": {
    "cookieDomains": ["{{ cookie_domain }}"],
    "locale": "en_US"
  }
}
